ENABLE_PREVIEWS = YES
COMBINE_HIDPI_IMAGES = YES
INFOPLIST_KEY_NSHumanReadableCopyright =
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
SWIFT_EMIT_LOC_STRINGS = YES
PRODUCT_BUNDLE_IDENTIFIER = com.telefonica.LatchDeveloper
PRODUCT_NAME = Latch Developer
CODE_SIGN_ENTITLEMENTS = LatchDeveloper/SupportFiles/LatchDeveloper.entitlements
CODE_SIGN_STYLE = Automatic
CURRENT_PROJECT_VERSION = 1
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
SWIFT_VERSION = 5.0
INFOPLIST_FILE = LatchDeveloper/SupportFiles/Info.plist

// Signing

CODE_SIGN_IDENTITY = Apple Development
DEVELOPMENT_TEAM = E3WR764V5V
ENABLE_HARDENED_RUNTIME = YES
